* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

@font-face {
	font-family: "FT88-Italic";
	src: url("font/FT88-Italic.woff2") format("woff2-variations"),
	     url("font/FT88-Italic.woff") format("woff-variations");
}
@font-face {
	font-family: "FT88-Serif";
	src: url("font/FT88-Serif.woff2") format("woff2-variations"),
	     url("font/FT88-Serif.woff") format("woff-variations");
}
@font-face {
	font-family: "FT88-School";
	src: url("font/FT88-School.woff2") format("woff2-variations"),
	     url("font/FT88-School.woff") format("woff-variations");
}

body {
	background-color: lightpink;
	color: white;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

#image {
	width: 200px;
	padding: 10px;
}

.darkmode{
	background-color: black;
	color: lightskyblue;
}

h1 {
	color: deeppink;
	margin-top: 20px;
	margin-bottom:  10px;
	font-family: FT88-School;
}

h2 {
	color: deeppink;
	margin-bottom:  20px;
	font-family: FT88-School;
}

p {
	margin-bottom:  10px;
	font-family: FT88-Italic;
	color: deeppink;
}

h3 {
	color: deeppink;
	margin-top: 20px;
	margin-bottom:  10px;
	font-size: 25px;
	font-family: FT88-School;
}

ul, ol {
	margin-left: 10px;
	font-family: FT88-Serif;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/